<main class="show-student">
  <h1><%= @student.name_en %> (<%= @student.name_zh %>)</h1>

  <h2>Student details</h2>
  <p><%= @student.onboarding %></p>

  <h2>Teacher's notes</h2>
  <p><%= @student.notes %></p>
</main>
