<h1>Learn With John Class Tracker</h1>
<p>a.k.a The fugliest website <a href="http://www.robowenking.com">I</a>'ve ever made</p>

<% if user_signed_in? %>
  <div class="clocks-container">
    <div>
      <p class="clock-label">Your time (<%= link_to "Change", edit_user_registration_path %>):</p>
      <p class="clock" data-timezone="<%= ActiveSupport::TimeZone::MAPPING[current_user.timezone] %>"></p>
    </div>
    <div>
      <p class="clock-label">China time:</p>
      <p class="clock" data-timezone="<%= ActiveSupport::TimeZone::MAPPING["Beijing"] %>"></p>
    </div>
  </div>
<% end %>
