main {
  margin: auto 16px;
}

.clocks-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.clocks-container p {
  margin-bottom: 0;
}

.large-text {
  font-size: 3rem;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

details summary {
  cursor: pointer;
  list-style-type: none;
}

details summary > * {
  display: inline;
}

.text-grey {
  color: #555;
}
