.clocks-container {
  display: flex;
  justify-content: space-evenly;
}

.clocks-container p {
  margin-bottom: 0;
}

.clock {
  font-size: 3rem;
}

.show-student p {
  white-space: pre-wrap;
}

details summary {
  cursor: pointer;
  list-style-type: none;
}

details summary > * {
  display: inline;
}

.text-grey {
  color: #555;
}
